body {
    display: grid;
    grid-template-columns: 1 1.5;
    grid-template-rows: 1 1.5;
    justify-content: center;
    align-items: center;
    grid-template-areas:
    'header header'
    'play play'
    'first second'
    'third fourth'
    'submit submit';
    grid-gap: 10px;
 
    
}
h1 {
  text-decoration-color: black;
  font-size: 30px;
  grid-area: header;
  text-align: center;
  padding-bottom: 10px;
 
}
.button {
    background-color: gray;
    border: none;
    color: white;
    padding: 75px 150px;
    text-align: center;
    font-size: 25px;
    
 
    
   
}
#red {grid-area: first; background-color: red;}
#blue {grid-area: second; background-color: blue;} 
#yellow {grid-area: third; background-color: yellow;} 
#green {grid-area: fourth; background-color: green;} 
#play {grid-area: play; padding: 25px; background-color: orchid; }