body {
  display: grid;
  grid-template-columns: 1.fr 1.fr;
  grid-template-rows: 0.25fr 0.5fr 1.2fr 1.2fr;
  grid-template-areas: "h1 h1" "play play" "first second" "third fourth";
  align-items: center;
  justify-content: center;
  grid-gap: 10px;

  
}

h1 {
  grid-area: h1;
  color:black;
  font-size: 35px;
  text-align: center;
  padding-bottom: 0;
  font-family: 'Press Start 2P', cursive;
}
.button {
  background-color: gray;
  border: none;
  color: white;
  padding: 75px 150px;
  text-align: center;
  font-size: 25px;
}
#red {grid-area: first; }
#blue {grid-area: second; } 
#yellow {grid-area: third;}  
#green {grid-area: fourth;} 
#play {
  grid-area: play; 
  padding: 25px;
  background-color: gray;
  background: linear-gradient(90deg, red 0%, blue 50%, yellow 75%,green 100%);
  font-family: 'Press Start 2P', cursive}

